<footer class="fcfsfs">
  <div class="links_flex frfssb">
    <div class="lfc lfc1 fcfsfs">
      <img src="/images/logo.png" alt="Dexsent Logo">
      <p>
        DexSent is at the forefront of artificial intelligence, pushing the
        boundaries of innovation to create
      </p>
    </div>
    <div class="lfc fcfsfs">
      <h5 class="ff_pp">Quick links</h5>
      <div class="link_flex ff_ds fcfsfs">
        <a href="#">About us</a>
        <a href="#">Services</a>
        <a href="#">Solutions</a>
        <a href="#">Blog</a>
        <a href="#">Careers</a>
      </div>
    </div>
    <div class="lfc fcfsfs">
      <h5 class="ff_pp">Explore</h5>
      <div class="link_flex ff_ds fcfsfs">
        <a href="#">Case studies</a>
        <a href="#">Partners</a>
        <a href="#">Testimonials</a>
        <a href="#">Events</a>
      </div>
    </div>
    <div class="lfc fcfsfs">
      <h5 class="ff_pp">Join a newsletter</h5>
      <div class="link_flex ff_ds fcfsfs">
        <p>Your email:</p>
        <div class="input_group frcfs">
          <input
            type="email"
            placeholder="abc@email.com"
            class="primary_input"
            name="email"
            id="email"
          />
          <button type="button" class="shine_button">Submit</button>
        </div>
        <div class="socials_flex frcfs">
          <button type="button" class="shine_button frcc">
            <i class="fi fi-brands-linkedin"></i>
          </button>
          <button type="button" class="shine_button frcc">
            <i class="fi fi-brands-whatsapp"></i>
          </button>
          <button type="button" class="shine_button frcc">
            <i class="fi fi-brands-instagram"></i>
          </button>
          <button type="button" class="shine_button frcc">
            <i class="fi fi-brands-twitter-alt-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="address_flex ff_ds frcsb">
    <div class="left frcc">
      <div class="af_item frcc">
        <i class="fi fi-ss-marker"></i>
        <p>
           IIEC | IIT Gandhinagar, Palaj, Gandhinagar, <br />
           Gujarat, India, 382355
        </p>
      </div>
      <div class="af_item frcc">
        <i class="fi fi-ss-envelope-dot"></i>
        <a href="mailto:dexsentrobotics@gmail.com">{{ "dexsentrobotics@gmail.com" }}</a>
      </div>
      <div class="af_item frcc">
        <i class="fi fi-ss-phone-flip"></i>
        <a href="tel:+919773106546">+91 97731 06546</a>
      </div>
    </div>
    <a href="#">DexSent</a>
  </div>
</footer>
