<section class="lander_section">
  <h1 class="ff_aw abc">Dexsent</h1>
  <div class="ls_grid">
    <div class="lsgc left fcfsc">
      <div class="logo_flex frcfs">
        <h5>Dexsent Robotics</h5>
      </div>
      <h2 class="ff_aw">Built to think designed to help</h2>
      <p>
        The next generation of robots must go beyond automation. They must be
        purpose-driven-engineered to solve deep-rooted human challenges and
        enhance lives, At DexSent, we build robots with human-like dexterity
        and intelligence-capable of sensing, deciding, and acting meaningfully
        in the world around them.
      </p>
      <button type="button" class="outline_button ff_ms">Get Started</button>
    </div>
    <div class="lsgc right fcfec ff_pp">
        <div class="side_content_panel fcfsfs">
            <p>Enhance operational efficiency with autonomous robotic systems that work tirelessly.</p>
        </div>
        <div class="side_content_panel fcfsfs">
            <p>Enhance operational efficiency with autonomous robotic systems that work tirelessly.</p>
        </div>
    </div>
  </div>
</section>
