.why_section {
  min-height: 0;
  padding: 7.5rem 15rem;
  gap: 5rem;

  h2 {
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  .purpose_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    width: 100%;
    height: auto;

    .pgc {
      gap: 1rem;
      width: 100%;
      height: auto;
      border: 0.1rem solid var(--contrast-bg-1);
      padding: 1.5rem;

      i {
        font-size: 3rem;
      }

      h4 {
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 2rem;
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-size: 1.4rem;
        font-weight: 600;
        opacity: 0.75;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .why_section {
    padding: 2rem 7.5rem;

    .purpose_grid {
      grid-template-columns: 1fr;
    }

    h2 {
      text-align: center;
    }
  }
}