<menu class="frcc ff_ms">
  <div
    class="menu_item frcc"
    [ngClass]="{ active: activeSection === 'lander' }"
  >
    <a (click)="onClick('lander')">Home</a>
  </div>
  <div class="menu_item frcc" [ngClass]="{ active: activeSection === 'about' || activeSection === 'core' }">
    <a (click)="onClick('about')">About</a>
  </div>
  <div
    class="menu_item frcc"
    [ngClass]="{ active: activeSection.includes('product') }"
  >
    <a (click)="onClick('producthome')">Products</a>
  </div>
  <div class="menu_item frcc" [ngClass]="{ active: activeSection == 'blog' }">
    <a (click)="onClick('blog')">Blogs</a>
  </div>
</menu>
