section {
  width: 100dvw;
  min-height: 100dvh;
  height: auto;
  overflow: hidden;
  overflow-y: visible;
  position: relative;
}

.abc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abbl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.abbr {
  position: absolute;
  bottom: 0;
  right: 0;
}

.abtl {
  position: absolute;
  top: 0;
  left: 0;
}

.abtr {
  position: absolute;
  top: 0;
  right: 0;
}

.frcc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fccc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fcfsfs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.fccfe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.fcfec {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.fcfsc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.frcfs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.frfsfs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.fcfssb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.frcsb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fcee {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.frfssb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.fcfsfe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.fccfs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.fcfefs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.fcfefe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.frfefs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.frfssb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.frfsfe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
