.productdetail_section {
  min-height: 0;
  padding: 7.5rem 15rem;
  gap: 4rem;

  & > h2 {
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -3rem;
  }

  & > h5 {
    font-size: 1rem;
    opacity: 0.75;
    font-weight: 500;
    text-transform: uppercase;
  }

  p,
  ul li {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.3;
  }

  .intro_grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .igc {
      width: 100%;
      height: 100%;
      gap: 2rem;

      &.right {
        padding: 4rem 0;
        padding-bottom: 6rem;
      }

      .ig_slider_container {
        width: 100%;
        height: auto;
        overflow: hidden;

        * {
          transition: all 300ms ease;
        }

        .igsc_flex {
          overflow: visible;
          width: 100%;
          height: auto;

          &::-webkit-scrollbar {
            display: none;
          }

          .igscfc {
            width: 100%;
            min-width: 100%;
            overflow: hidden;
            aspect-ratio: 1.5;
            position: relative;
            padding: 2rem;
            padding-left: 0;

            .igscfs_content {
              border-radius: 1.5rem;
              background-color: var(--blend-bg-1);
              width: 100%;
              height: 100%;

              img {
                max-height: 100%;
                max-width: 100%;
                margin-left: -2rem;
              }
            }
          }
        }
      }

      .ig_slider_paginator {
        width: 100%;
        gap: 2rem;

        .dot {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 5rem;
          overflow: hidden;
          position: relative;
          background-color: var(--blend-bg-1);

          &.active {
            background-color: var(--contrast-bg-1);
          }
        }
      }
    }
  }

  .key_features_grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;

    .kfc {
      width: 100%;
      height: 100%;
      position: relative;

      &.left {
        gap: 2rem;

        p {
          max-width: 30rem;
        }
      }

      &.right {
        padding-left: 5rem;
        gap: 2rem;

        .feature_flex {
          width: 100%;
          height: auto;
          padding: 2rem;
          border-radius: 1.5rem;
          background-color: var(--blend-bg-1a);
          gap: 1rem;

          ul {
            margin-left: 2rem;
            list-style: disc;
            gap: 0.5rem;
          }

          h6 {
            font-size: 2rem;
            font-weight: 500;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 0.1rem;
          background-color: var(--blend-bg-1);
        }
      }

      h4 {
        font-size: 2.6rem;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }

  .video_container {
    gap: 2rem;
    width: 100%;

    .intro_flex {
      gap: 2rem;

      h4 {
        font-size: 2.6rem;
        font-weight: 500;
        text-transform: capitalize;
      }

      p {
        max-width: 30rem;
      }
    }

    .content_flex {
      gap: 2rem;
      width: 100%;
      overflow-x: scroll;

      .cf_content {
        gap: 2rem;
        width: calc(100% / 3);
        min-width: calc(100% / 2.9);
        overflow: hidden;

        .video_container {
          width: 100%;
          aspect-ratio: 1.69;
          background-color: var(--blend-bg-1a);
          border-radius: 1.5rem;
          overflow: hidden;
          position: relative;

          iframe {
            width: 100%;
            height: 100%;
          }
        }

        span {
          opacity: 0.5;
          font-size: 1rem;
          font-weight: 400;
        }

        h2 {
          margin-top: 1rem;
          font-size: 2.4rem;
          font-weight: 600;
          text-transform: capitalize;
          max-width: 30rem;
          text-align: start;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .specs_container {
    gap: 2rem;
    width: 100%;

    .intro_flex {
      gap: 2rem;

      h4 {
        font-size: 2.6rem;
        font-weight: 500;
        text-transform: capitalize;
      }

      p {
        max-width: 30rem;
      }
    }

    .spec_grid {
      width: 100%;
      display: grid;
      grid-template-columns: 1.05fr 2fr;
      gap: 0.75rem;

      .sgc {
        border: 0.2rem solid var(--blend-bg-1);
        width: 100%;
        height: 100%;
        padding: 0.5rem 1rem;

        h6 {
          font-size: 2rem;
          font-weight: 600;
          text-transform: capitalize;
        }

        p {
          opacity: 1 !important;
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .productdetail_section {
    padding: 2rem 7.5rem;
    align-items: center;

    h2 {
      text-align: center;
    }

    .intro_grid {
      grid-template-columns: 1fr;
    }

    .key_features_grid {
      grid-template-columns: 1fr;

      .kfc.right {
        padding-left: 0;

        &::after {
          content: none;
        }
      }
    }

    .video_container {
      .content_flex {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        gap: 5rem;

        .cf_content {
          width: 100%;

          h2 {
            width: 100%;
            max-width: 100%;
            text-align: start;
            margin-top: 0;
          }
        }
      }
    }
  }
}
