<section class="what_section">
  <div class="wsgc left"></div>
  <div class="wsgc right fcfsc">
    <div class="s_title frcfs">
      <div class="dash"></div>
      <h5>What we do</h5>
    </div>
    <h2 class="ff_orb">The ultimate tech experience</h2>
    <h4>DexSent is building robotics across two focus areas</h4>
    <div class="focus_flex ff_ms frfsfs">
      <i class="fi fi-rr-robotic-arm"></i>
      <div class="ff_content_flex fcfsfs">
        <div class="ffcf_title frcsb">
          <h5>Industrial Solutions (B2B)</h5>
          <i class="fi fi-rr-arrow-up-right"></i>
        </div>
        <p>
          We develop advanced robotic end-effectors and Al-powered vision
          modules for smarter, safer, and more adaptive automation.
        </p>
        <ul>
          <li>Adaptive electric grippers</li>
          <li>Soft and anthropomorphic hands</li>
          <li>
            Vision intelligence modules with object tracking, pose estimation,
            and grasp planning
          </li>
        </ul>
      </div>
    </div>
    <div class="focus_flex ff_ms frfsfs">
      <i class="fi fi-rr-user-robot"></i>
      <div class="ff_content_flex fcfsfs">
        <div class="ffcf_title frcsb">
          <h5>Humaniod Platforms (B2C)</h5>
          <i class="fi fi-rr-arrow-up-right"></i>
        </div>
        <p>
          We are designing affordable humanoid robots for educational, research,
          and public engagement.
        </p>
        <ul>
          <li>Half-humaniod robotics for schools and colleges (Coming Soon)</li>
          <li>Interactive robots for events, expos and tech showcases</li>
        </ul>
      </div>
    </div>
    <div class="watch_video frcfs">
      <i class="fi fi-ss-play-circle"></i>
      <p>Watch a Video</p>
    </div>
  </div>
</section>
