.team_section {
  min-height: 0;
  padding: 7.5rem 15rem;
  gap: 4rem;

  .s_title {
    gap: 0.5rem;

    .dash {
      width: 1.5rem;
      height: 0.2rem;
      background-color: var(--blend-bg-3);
    }

    & > h5 {
      font-size: 1rem;
      opacity: 0.75;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
    margin-top: -4rem;
  }

  .team_flex {
    width: 100%;

    h4 {
      font-size: 3rem;
      letter-spacing: 1rem;
      width: fit-content;
      font-weight: 500;
      text-transform: uppercase;
      opacity: 0.5;
      transform: rotate(-90deg) translate(-100%, 0%);
      transform-origin: 0 0;
    }

    .image_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      width: 100%;
      height: auto;

      .igc {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        background-color: var(--blend-bg-1);
        border-radius: 1.5rem;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: auto;
          filter: grayscale(1);
        }

        .details_flex {
            z-index: 3;
            background-color: var(--contrast-bg-1);
            border-top-right-radius: 1.5rem;
            padding: 1.5rem;
            width: 75%;
            color: var(--blend-bg-1);
            text-transform: capitalize;

            h3 {
                font-size: 1.6rem;
                font-weight: 600;
            }

            h6 {
                font-size: 1rem;
                font-weight: 400;
            }
        }
      }
    }
  }
}
