<section class="team_section fcfsfs">
  <div class="s_title frcfs">
    <div class="dash"></div>
    <h5>Our team</h5>
  </div>
  <h2 class="ff_orb">Minds behind dexsent</h2>
  <div class="team_flex frfsfs">
    <h4>Leadership</h4>
    <div class="image_grid">
      <div class="igc" *ngFor="let leader of leaders">
        <img class="abc" src="/images/image.png" alt="Member Image">
        <div class="details_flex ff_pr abbl">
          <h3>{{ leader.name }}</h3>
          <h6>{{ leader.details }}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="team_flex frfsfs">
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team</h4>
    <div class="image_grid">
      <div class="igc" *ngFor="let team of teams">
        <img class="abc" src="/images/image.png" alt="Member Image">
        <div class="details_flex ff_pr abbl">
          <h3>{{ team.name }}</h3>
          <h6>{{ team.details }}</h6>
        </div>
      </div>
    </div>
  </div>
</section>
