<section class="core_section fcfsfs">
  <h5>Our core values</h5>
  <h2 class="ff_orb">D.R.I.V.E</h2>
  <h4>Our core values DRIVE everything we do.</h4>
  <div class="core_grid">
    <div class="cgc frfsfs" *ngFor="let core of coreContent">
      <div class="core_letter frcc abtl">
        <h3 class="ff_orb">{{ core.letter }}</h3>
      </div>
      <div class="cgc_wrapper">
        <div class="cgc_content_flex fcfsfs">
          <h4 class="ff_pp">{{ core.title }}</h4>
          <p class="ff_ms">{{ core.description }}</p>
        </div>
      </div>
    </div>
    <div class="cgc frfefe">
      <div class="explore_link frcsb abbr" role="link" (click)="uiService.scrollToSection('.producthome_section')">
        <p class="ff_pp">Explore more about us</p>
        <i class="fi fi-rr-arrow-up-right"></i>
      </div>
    </div>
  </div>
</section>
