<section class="about_section fccc">
  <h5>Introduction</h5>
  <div class="slider_container">
    <div class="slider_flex frcfs">
      <div
        class="slider_content fccfs"
        *ngFor="let about of aboutSliderContent"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
      >
        <h2 class="ff_orb">{{ about.title }}</h2>
        <p class="ff_ms" [innerHTML]="about.paragraph"></p>
      </div>
    </div>
  </div>
  <div class="slider_paginator frcc">
    <i
      class="fi fi-rr-angle-circle-left"
      role="button"
      (click)="onNavigate('back')"
    ></i>
    <div class="sp_slider frcc">
      <div
        class="dot"
        [ngClass]="{ active: currentIndex === i, paused: pausedInterval, played: !pausedInterval }"
        *ngFor="let _data of aboutSliderContent; let i = index"
      ></div>
    </div>
    <i
      class="fi fi-rr-angle-circle-right"
      role="button"
      (click)="onNavigate('front')"
    ></i>
  </div>
</section>
